@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}
.world-image {
  background-image: url("/icons/world.svg");
  animation: move-background 20s alternate-reverse infinite;
}
/* 
@keyframes move-background {
  from {
    background-position: 0% 0;
  }
  to {
    background-position: -100% 0;
  }
} */
